  <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pre-Arrival Notifications</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="../js/dirPagination.js"></script>

</head>

<body ng-app="postgreSQL">

    <div id="wrapper" ng-controller="postgreSQLCtrl">
        <div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Pre-Arrival Notifications </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            VESSEL INFO
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Vessel Type</th>
                                        <th>IMO Number</th>
                                        <th>Weapons</th>
                                        <th>Cargo</th>
                                        <th>Port Of Call</th>
                                        <th>Last Port</th>
                                        <th>ETA</th>
                                        <th>Females on Board</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="item in dataset | orderBy: 'eta' | itemsPerPage:10" ng-click="clicked(item)">
                                        <td>{{item.VESSEL_TYPE}}</td>
                                        <td>{{item.imo2}}</td>
                                        <td ng-switch="item.WEAPONS" ng-class="{highlight: item.WEAPONS}">
                                            <div ng-switch-when="true">
                                                <p> Weapons On Board</p>
                                            </div>
                                             <div ng-switch-when="false">
                                                <p>No Weapons On Board</p>
                                            </div>
                                        </td>
                                        <td>{{item.CARGO}}</td>
                                        <td>{{item.PORT}}</td>
                                        <!-- <td>{{item.LAST_PORT}}</td> -->
                                        <td>{{item.LAST_PORT}}</td>
                                        <td>{{item.eta}}</td>
                                        <td>
                                            <span ng-if="item.count>0" ng-class="{highlight: item.count}">{{item.count}}</span>
                                            <span ng-if="!item.count>0">0</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <dir-pagination-controls
                               max-size="10"
                               direction-links="true"
                               boundary-links="true" >
                            </dir-pagination-controls>

                            <!-- /.table-responsive -->
                            <!--
                            <div class="well">
                                <h4>DataTables Usage Information</h4>
                                <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                                <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
                            </div>
-->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div ng-show="myVal">
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           CREW MEMBERS
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Family Name</th>
                                            <th>Given Name</th>
                                            <th>Gender</th>
                                            <th>Rank</th>
                                            <th>Nationality</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in dataset2 " ng-click="clicked2(item)">
                                            <td>{{item.Family_Name}}</td>
                                            <td>{{item.given_names}}</td>
                                            <td>{{item.gender}}</td>
                                            <td>{{item.Crew_member_rank}}</td>
                                            <td>{{item.Nationality}}</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6" ng-show="myVal2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            WEAPONS INFO
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>WEAPONS ON BOARD</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in dataset3">
                                            <td ng-switch="item.weapons">
                                                <div ng-switch-when="NULL">
                                                    <p> Nothing Was Recorded</p>
                                                </div>
                                                <div ng-switch-default>
                                                    <p>{{item.weapons}}</p>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>

                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>


                <div class="col-lg-6" ng-show="myVal3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            PASSANGER INFO.....
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table" ng-repeat="itemz in dataset4">

                                <tr>
                                    <th>Crew Member Rank</th>
                                    <td>{{itemz.Crew_member_rank}}</td>
                                </tr>

                                <tr>
                                    <th>Family Name</th>
                                    <td>{{itemz.Family_Name}}</td>
                                </tr>

                                <tr>
                                    <th>Given Names</th>
                                    <td>{{itemz.given_names}}</td>
                                </tr>

                                <tr>
                                    <th>Gender</th>
                                    <td>{{itemz.gender}}</td>
                                </tr>

                                <tr>
                                    <th>Date Of Birth</th>
                                    <td>{{itemz.Birth_Date}}</td>
                                </tr>

                                <tr>
                                    <th>Nationality</th>
                                    <td>{{itemz.Nationality}}</td>
                                </tr>

                                <tr>
                                    <th>Travel Document Number</th>
                                    <td>{{itemz.travel_document_number}}</td>
                                </tr>

                                <tr>
                                    <th>Document Expiry Date</th>
                                    <td>{{itemz.Document_Expiry_Date}}</td>
                                </tr>
                                </table>
                            </div>

                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>


                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!--paginatiopn-->
    <script src="../dist/js/sb-admin-2.js"></script
    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>

</body>

</html>
